@import "tailwindcss";

@theme {
  --color-azul: #1D5DAF;
  --color-azul-escuro: #002A71;
  --color-azul-claro: #CFE8FF;
  --color-azul-medio: #79B9FF;
}

@theme inline{
  --font-jetbrains: var(--font-jetbrains), system-ui, sans-serif;
}

.swiper-pagination {
  position: relative !important;
}

.swiper-pagination-bullet {
  background-color: #002A71 !important;
  opacity: 0.5;
  width: 12px;
  height: 12px;
}

.swiper-pagination-bullet-active {
  opacity: 1;
}
